<div class = "container">
  <div *ngIf= "EstadoForm == 'L'">
  <h1>{{Titulo}}</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"> EquipoNombre</th>
      <th scope="col">EquipoRanking</th>
      <th scope="col">IdEquipo</th>
      <th scope="col">ABM</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let item of Items">
      
      <td>{{item.EquipoNombre}}</td>
      <td>{{item.EquipoRanking}}</td>
      <td>{{item.IdEquipo}}</td>
      <td>
        <button name="" id=""  class="btn btn-danger" type="button" title="Eliminar" value= ""(click) = 'Eliminar(item.IdEquipo)'>
          </button>
      </td>
    </tr>
  </tbody>
</table>
    <input name="" id=""  class="btn btn-success" type = "button"  value= "Agregar"(click) = 'Agregar()'>
  </div>
  <div *ngIf= "EstadoForm == 'A'">
    	<form name="FormReg" [formGroup]='FormReg'>
				<!--campo EquipoNombre-->
				<div class="form-group">
					<label class="col-form-label col-sm-2 col-sm-offset-2" for="Nombre">EquipoNombre <span
                    class="text-danger">*</span></label>
					<div class="col-sm-6">
						<input type="text" class="form-control" formControlName="EquipoNombre"
         [ngClass]="{'is-invalid': (FormReg.controls.EquipoNombre.touched || submitted)  
            && FormReg.controls.EquipoNombre.errors}" />

						<span class="text-danger" *ngIf="(FormReg.controls.EquipoNombre.touched || submitted) 
                        && FormReg.controls.EquipoNombre.errors?.required">
                    Dato requerido.
                </span>
						<span class="text-danger" *ngIf="(FormReg.controls.EquipoNombre.touched || submitted) 
                       && (FormReg.controls.EquipoNombre.errors?.minlength || FormReg.controls.EquipoNombre.errors?.maxlength) ">
                    Dato texto, 4 a 55 caracteres.
                </span>

					</div>

					<!--campo EquipoRanking-->
					<div class="form-group">
						<label class="col-form-label col-sm-2 col-sm-offset-2" for="EquipoRanking">EquipoRanking <span
                    class="text-danger">*</span></label>
						<div class="col-sm-6">
							<input type="text" name="EquipoRanking" class="form-control" formControlName="EquipoRanking"
            [ngClass]="{'is-invalid': (FormReg.controls.EquipoRanking.touched || submitted)  
            && FormReg.controls.EquipoRanking.errors}" />
							<span class="text-danger" *ngIf="(FormReg.controls.EquipoRanking.touched || submitted) 
                       && FormReg.controls.EquipoRanking.errors?.required">
                    Dato requerido.
                </span>
							<span class="text-danger" *ngIf="(FormReg.controls.EquipoRanking.touched || submitted) 
               && FormReg.controls.Precio.errors?.pattern">
                    Dato numérico, 1 a 7 dígitos.
                </span>
						</div>
					</div>
					<div class="row justify-content-center">
						<button type="button" class="btn btn-primary" *ngIf="AccionABMC!=='C'" (click)="Grabar()">
            <span class="fas fa-check"></span> Grabar
        </button>
						&nbsp;
						<button type="button" class="btn btn-warning" (click)="Volver()">Volver
              <span class="fas fa-undo"></span> {{AccionABMC=='C' ? 'Volver' : 'Cancelar'}}
        </button>

</div>